*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#box{
    height: 500px;
    width: 1000px;
    background-color: lightblue;
}

h1{
    font-size: 200px;
    color: lightcoral;
}

h1::after{
    content: " Bro!😁";
}

h1::before{
    content: "yoo! ";
}

#box2{
    background-color: black;
    height: 500px;
    width: 500px;
    padding: 6vw;
}

#box2 button{
    padding: 20px 30px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    font-weight: 600;
    position: relative;
}

#box2 button::after{
    content: "";
    height: 100%;
    width: 0%;
    background-color: cyan;
    position: absolute;
    left: 0;
    top: 0;
    transition: all linear 0.5s;
    z-index:-1;
}

#box2 button:hover::after{
    content: "";
    width: 100%;
    background-color: cyan;
}